/project_pl_cpp_20/.vs
/project_pl_cpp_20/_external/mysql-connector-c++-9.2.0
/project_pl_cpp_20/_external/mysql80
/project_pl_cpp_20/_external/rapidjson
/project_pl_cpp_20/_external/msquic/server_cert.pem
/project_pl_cpp_20/_external/msquic/server_key.pem
/project_pl_cpp_20/bin64d
/project_pl_cpp_20/bin64r
/project_pl_cs_9/.vs
/project_pl_cs_9/bin
*.user
*.log
obj
